@import "styles/variables";

.list {
    list-style-type: none;
    padding: 0px;
    margin: 0px;

    &>li {
        border-bottom: 1px solid;
        padding: $space-medium;
        color: $text-color;
    }
}